<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Show degree of separation between two actors</h1>
<form action="#" th:action="@{/getseparation}" th:object="${twostrings}" method="post">
    <p>Name actor 1: <input type="text" th:field="*{string1}" /></p>
    <p>Name actor 2: <input type="text" th:field="*{string2}" /></p>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
