<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete dog confirm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:if="${message.content == 'ok'}">
    <h1>Dog has been deleted:</h1>
    <h1>Result</h1>
    <p th:text="'dog id is: ' + ${dog.id}" />
    <p th:text="'name is: ' + ${dog.name}" />
    <p th:text="'age is: ' + ${dog.age}" />
</div>

<!-- ELSE -->
<div th:unless="${message.content == 'ok'}">
    <p th:text="'Error: ' + ${message.content}" />
</div>



<a href="/add_dog">Add another dog</a>
<a href="/delete_dog">Delete another dog</a>
<a href="/list">List dogs</a>
</body>
</html>
