
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }
        h1, h2, div {
            display: inline;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
</head>
<body>

<div th:if="${not #lists.isEmpty(actorlist)}">
    <h2>Actor:</h2><h2 th:text="${message.myValue}"> </h2>
    <div th:each="actor : ${actorlist}">
    <table class="table table-striped">
        <tr >
            <td  th:text="${actor.primaryName}"></td>
            <td  th:text="${actor.primaryProfession}"></td>
            <td  th:text="${actor.birthYear}"></td>

        </tr>
    </table>
    </div>
</div>

<div th:if="${ #lists.size (actorlist) == 1}">


    Number of films : <div th:text="${ #lists.size (films)}"> </div>
    Typecasted as: <div th:text="${typecast.myValue}"></div>



    <div th:if="${not #lists.isEmpty(films)}">

        <div >
            <table class="table table-striped">
                <tr th:each="film : ${films}">
                    <td  th:text="${film.tconst}"></td>
                    <td  th:text="${film.primaryTitle}"></td>
                    <td  th:text="${film.startYear}"></td>
                </tr>
            </table>

        </div>
    </div>
    <!-- ELSE -->
    <div th:unless="${not #lists.isEmpty(films)}">
        <h2>Geen films gevonden.</h2>
    </div>
</div>

<!-- ELSE -->
<div th:unless="${not #lists.isEmpty(actorlist)}">
    <h2>Actor </h2><h2 th:text="${message.myValue}"></h2><h2> was not found</h2>
</div>
</body>
</html>
